.cardComponent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4px;
  margin: 4px;
  max-width: 300px;
  max-height: 350px;
  overflow: hidden;
  flex-wrap: wrap;
}

.leftSlot, .rightSlot{
  max-width: 140px;
  width: 45%;
}

.leftSlot{
  margin-right: 16px; 
}
